body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: rgba(91, 153, 77, 1);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 180px;
}

.info3 {
    text-align: center; /* centra tutto dentro il div */
    margin-bottom: 80px;
}

.etichetta {
    background-color: rgba(231, 126, 35, 1);
    color:white;
    padding: 20px 40px; /* aumentato padding per più spazio interno */
    border-radius: 20px;
    font-size: 45px;
    font-weight: 700;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.container {
    position: relative;
    display: inline-block;
}

.image {
    
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(247, 247, 247);
    font-size: 17px;
    text-align: center;
}

.text h1 {
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: white;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 1);
}

.text h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: white;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 1);
}

.info {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 23px;
    font-weight: 600;
}

.container img {
    display: block;
    width: 100%;
}

.rettangolo {
    position: relative;
    top: -22px;
    width: 100%;
    background-color: rgba(231, 126, 35, 1);
    padding: 40px;
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.colonna {
    padding: 20px;
    max-height: 100%;
    width: 80%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 27px;
}

.space {
    margin: 0;
    padding: 50px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(231, 126, 35, 1);
    padding-left: 120px;
    padding-right: 120px;
}

.card {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 90px;
    padding: 70px 174px;
}

.card img {
    height: 212px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card p {
    background-color: rgba(231, 126, 35, 1);
    font-size: 30px;
    margin: 0;
    padding: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 700;
    color: white;
    text-align: center;
}

footer {
    background-color: rgba(91, 153, 77, 1);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 180px;
    color: white;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.etichetta:hover{ text-decoration: underline;
    text-decoration-thickness: 3px;

}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 10px;
    }

    nav a {
        font-size: 16px;
    }

    .info h1 {font-size: 30px;}
    .info h2 {
        font-size: 20px;
    }

    .card {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .rettangolo {
        flex-direction: column;
    }

    .colonna {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    footer {

        justify-content: center;
        align-items: center;
     gap: 200px;
      
      }
    
      .footer-left,
      .footer-right {
        font-size: 14px;
       
      }
}
